* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    position: relative;
    height: 100%;
}

.leaflet-marker-icon {
    transform: rotate(0deg);
    /* Default rotation, adjust if needed */
}

#locationForm {
    margin-bottom: 1em;
    background: #f8f8f8;
    padding: 1em;
    border-radius: 8px;
    width: 320px;
}
